<!-- source macro -->
{% macro displaySourceList(news_list) %}
{% for source in news_list %}

<div class="col-sm-4">
  <p><a href="/news/{{source.id}}">{{source.name}}</a></p>
</div>

{% endfor %}
{% endmacro %}




<!-- Article macro -->
{% macro displayArticleList(articles_list) %}
{% for article in articles_list %}

<div class="col-md-8">
  <div class="card">
    <div class="card-title">
        <h3>{{article.title}}</h3>
    </div>
    <div class="card-text">
        <p>{{article.description | truncate(70)}}</p>
    </div>
      <p class="text-center">
        <img class="card-img-top" src="{{article.urlToImage}}" alt="article image">
      </p>
    <div class="card-text">
        <p><a href="{{article.url}}">READ MORE</a></p>
    </div>
  </div>
</div>

{% endfor %}

{% endmacro %}